@using Newtonsoft.Json
@model InvoiceModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CheckoutPage</title>
    </head>
    <body>
        @{
            //this page serves only as confirmation of successful transaction 
            //if someting went wrong during invoice transaction, changes would be rolled back and error displayed
            //use false model for error testing

            var falsemodel = new InvoiceModel();      
            var result = AzureDb.Instance.InvoiceTransaction(Model);
       

            if (result==1)
            {
                <h1>Your purchace was succesfull and Card and User was updated</h1>
                <h3><a href="/">Back to the main page</a></h3>         
            }
        }

    </body>
</html>
