@using database_final_project.Models
@using database_final_project.Patterns
@using Newtonsoft.Json;
@model Product
@{
    ViewData["Title"] = "ProductDetails";
}
<h1>ProductDetails</h1>
@{





    <h2>@Model.cname</h2>
    <p>@Model.cdescription</p>
    <p> @Model.nStock units</p>
    <p>@Model.nUnitPrice DKK</p>
    <p>Average rating:@Model.nAvgRating</p>

   
      

   

}

